.title {
  color: steelblue;
  font-family: Georgia;
  font-size: 40px;
  text-align: center;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  place-items: center;
  margin: 5% 20%;
}
.imageGrid img {
  width: 100%;
}

body{
  height: 100vh;
}