.title {
  color: steelblue;
}

.colosseum {
  height: 350px;  
}
.agropoli {
  height: 300px;
}
.japaneseMaple{
  height: 300px;
}
.amalfiCoast{
  height: 300px;
}
.imageGrid {
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 10px;
place-items: center;
}